<% include partials/_header %>

<div class="container">
    
        
     <div class="row">
         <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                        <div class="row">
                            
                            <div class="col-md-3">
                                    <form action="/actdiarias/buscar" method="POST" target="_blank">
                                        <div class="input-group">
                                                <input type="text"  name="busqueda" class="form-control form-control-sm my-1" value="" placeholder="Fecha รณ Codigo de Caso" >
                                                <div class="input-group-append">
                                                <button type="submit" class="btn btn-outline-dark btn-sm"><i class="fas fa-search fa-2x"></i>   </button>
                                                </div>
                                            </div>
                                    </form>
                                   
                            </div>
                            <div class="col-md-8">
                                    <h5 class="text-center"><i class="fas fa-print fa-2x"></i> Reporte General de Actividades Diarias</h5>
                            </div>
                        </div>
                
                   
                </div>
                <div class="card-body">
         
                    <table class="table table-bordered table-hover table-sm " >
                        <thead class="thead-dark">
                            <th style="width:30px"><small>Fecha</small></th>
                            <th style="width:70px"><small>Tienda</small></th>
                            <th style="width:50px"><small>Caso</small></th>
                            <th style="width:100px" ><small>Articulo</small></th>
                            <th style="width:150px"><small>Reporte</small></th>
                            <th style="width:20px"><small>inicio</small></th>
                            <th style="width:20px"><small>fin</small></th>
                            <th style="width:350px" ><small>Actividad realizada</small></th>
                            <th style="width:80px"><small>Acciones</small></th>
        
                        </thead>
                        <tbody>
                               
                     <% if ( act &&  act.length>0){ %>
                            <% act.forEach(function(activ){ %>
                            <tr>
                                <td><small>
                                        <%= activ.fecha %></small></td>
                                <td><small>
                                        <%= activ.tienda %></small></td>
                                <td><small>
                                        <%= activ.codigocaso %></small></td>
                                <td><small>
                                        <%= activ.articulorev %></small></td>
                                <td><small>
                                        <%= activ.reporte %></small></td>
                                <td><small>
                                        <%= activ.hinicio %></small></td>
                                <td><small>
                                        <%= activ.hfin %></small></td>
                                <td><small>
                                            <%= activ.act_realizada %></small></td>
                                <td><small>
                                        <a href="/actdiarias/delete/<%= activ._id %>"  class="btn btn-danger btn-sm eliminaact" ><i class="far fa-trash-alt"></i></a>
                                        <a href="/actdiarias/editar/<%= activ._id %>"  class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                                </td>
                                
                            </tr>
         
                            <%})%>
                        <%} else {%>
                                <h1 class="text-center">NO tienes Actividades</h1>
                            <%}%>        
                            
                            
                   <tbody>
                   </table>    
                </div>
               
            </div>
         
        </div>
     </div>
     <br>   
        <div class="row">
            
            <% if (paginas) {%>
            <nav class="mx-auto">
                <ul class="pagination">
                                    <!-- primera pagina -->
                    <% if (actual==1) {%>
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Primera</a>
                    </li>
                    <%} else {%>
                    <li class="page-item">
                        <a href="/actdiarias/tactividades/1" class="page-link">Primera</a>
                    </li>
                    <% } %>
                                         <!-- paginas -->
                    <% var i = (Number(actual) >5 ? Number(actual)-4 :1) %>
                    <% if (i !== 1) {%>
                  
                            <a href="<%= i %>" class="page-link">...</a>
                        <% } %>
                        <% for (; i<= (Number(actual)+4) && i<= paginas; i++){%>
                            <% if (i== actual) { %>
                                <li class="page-item">
                                    <a href="<%= i %>" class="page-link">
                                    <%= i %>
                                    </a>
                                </li>
                        <% } else { %>
                            <li class="page-item">
                                <a href="/actdiarias/tactividades/<%= i %>" class="page-link">
                                <%= i %>
                                </a>
                            </li>
                            <% } %>
                    <% if (i == Number(actual)+4 && i < paginas) {%>
                        <li class="page-item">
                            <a href="#" class="page-link">...</a>
                        </li>
                        <% } %>
                    <% } %>  
                                    <!-- ultima pagina -->
                    <% if (actual==paginas) {%>
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Ultima</a>
                    </li>
                    <%} else { %>
                    <li class="page-item">
                        <a  href="/actdiarias/tactividades/<%=paginas%>" class="page-link">Ultimo</a>
                    </li>
                    <% } %>
                </ul>
            </nav>
            <% } %>
        
       
    </div>
</div>

<% include partials/_footer %>