<% include partials/_header %>

<div class="container">
    
        
     <div class="row">
         <div class="col-md-12">
            <div class="card">
                <div class="card-header">               
                    <div class="row">
                        <div class="col-md-3">
                                <form action="/asignaciones/buscar" method="post">
                                    <div class="input-group">
                                        <input type="text"  name="busqueda" class="form-control form-control-sm my-1" value="" placeholder="ingrese campo de busqueda">
                                        <div class="input-group-append">
                                        <button type="submit" value="Buscar" class="btn btn-outline-dark btn-sm"><i class="fas fa-search fa-2x"></i></button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                        <div class="col-md-4 offset-3">
                              <h5>Asignaciones</h5> 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                
                            <table class="table table-bordered table-hover table-sm ">
                                        
                                    <thead class="thead-dark">
                                        <th><small>n#</small></th>
                                        <th style="width:100px"><small>Tecnico</small></th>
                                        <th style="width:100px"><small>Codigo de caso </small></th>
                                        <th style="width:100px"><small>Tipo de Caso</small></th>
                                        <th><small>Tienda</small></th>
                                        <th><small>fecha ing tienda</small></th>
                                        <th><small>Vendedor</small></th>
                                        <th><small>Observacion</small></th>
                                        <th style="width:180px"><small>Fecha Reg</small></th>

                                        
                                        <th><small>operaciones BD</small></th>
                                    </thead>
                                    <tbody>
                                            <% asg.forEach(function(sel,cont=0){ %>
                                        <tr>
                                            <td><small> <%= cont+=1 %> </small></td>
                                            <td><small> <%= sel.tecnico %> </small></td>    
                                            <td><small><%= sel.codigo_caso %></small></td>
                                            <td><small><%= sel.tipo_caso %></small></td>
                                            <td><small><%= sel.tienda %></small></td>
                                            <td><small><%= sel.fechaingCT %></small></td>
                                            <td><small><%= sel.vendedor %></small></td>
                                            <td><small><%= sel.observacion %></small></td>
                                            <td><small><%= sel.fecha_registro %></small></td>
                                           
                                            <td style="width:100px"><small>
                                                    <% if(usuario && usuario.correo==="admin1@compumicro.com.ec" || usuario.correo==="admin2@compumicro.com.ec" ||
                                                    usuario.correo==="memm44@gmail.com"){%>
                                                    <a href="/asignaciones/delete/<%= sel._id %>" class="btn btn-danger btn-sm elimina"><i class="far fa-trash-alt"></i></a>
                                                    <a href="/asignaciones/editar/<%= sel._id %>" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a> 
                                                    <%}%>         
                                            </td>
                                        </tr>
                                        <%})%>  
                                    <tbody>
                                </table>  
                        </div>
                    </div>
                </div>
               </div>
         </div>
     </div>
     <br>   
        <div class="row">
            
            <% if (paginas) {%>
            <nav class="mx-auto">
                <ul class="pagination">
                                    <!-- primera pagina -->
                    <% if (actual==1) {%>
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Primera</a>
                    </li>
                    <%} else {%>
                    <li class="page-item">
                        <a href="/dvr/tdvrs/1" class="page-link">Primera</a>
                    </li>
                    <% } %>
                                         <!-- paginas -->
                    <% var i = (Number(actual) >5 ? Number(actual)-4 :1) %>
                    <% if (i !== 1) {%>
                  
                            <a href="<%= i %>" class="page-link">...</a>
                        <% } %>
                        <% for (; i<= (Number(actual)+4) && i<= paginas; i++){%>
                            <% if (i== actual) { %>
                                <li class="page-item">
                                    <a href="<%= i %>" class="page-link">
                                    <%= i %>
                                    </a>
                                </li>
                        <% } else { %>
                            <li class="page-item">
                                <a href="/dvr/tdvrs/<%= i %>" class="page-link">
                                <%= i %>
                                </a>
                            </li>
                            <% } %>
                    <% if (i == Number(actual)+4 && i < paginas) {%>
                        <li class="page-item">
                            <a href="#" class="page-link">...</a>
                        </li>
                        <% } %>
                    <% } %>  
                                    <!-- ultima pagina -->
                    <% if (actual==paginas) {%>
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Ultima</a>
                    </li>
                    <%} else { %>
                    <li class="page-item">
                        <a  href="/dvr/tdvrs/<%=paginas%>" class="page-link">Ultimo</a>
                    </li>
                    <% } %>
                </ul>
            </nav>
            <% } %>
        
       
    </div>
</div>

<% include partials/_footer %>